# Szeregi czasowe, przewidywanie na podstawie danych historycznych

![1.webp]()

# Wczytanie potrzebnych pakietów i danych

Pracę z danymi zaczynami od wczytania potrzebnych pakietów Python. W tym przypadku jest to Pandas, NumPy, Matplotlib  do analizy  i wizualizacji danych.

Pakiet XGBoost jest pakietem do uczenia maszynowego.

Sklearn.metrics posłuży nam do walidacji modelu metodą średniego błędu kwadratowego

$\displaystyle MSE = \frac{1}{n} \sum_{i=1}^n (y_{pred}-y_{test})^2$, gdzie $n$ - liczba wyników, $y_{pred}$ -wartość przewidziana, $y_{test}$ - wartość testowa danych

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import xgboost as xgb
from sklearn.metrics import mean_squared_error

Do wczytania danych z pliku `.csv` używamy komendy z pakietu Pandas (pd),  `read_csv` i zapisujemy dane w ramce danych (DataFrame) pod nazwą df.

In [2]:
df = pd.read_csv('/content/drive/MyDrive/AEP_hourly.csv')

Wpisanie komendy `df` pokazuje nam zawartość.

In [3]:
df

Mamy trzy kolumny. Pierwsza jest w domyśle indeksem numerowanym od `0`. Druga kolumna o nazwie `Datatime` ma format czasowy, trzecia kolumna `AEP_MW` zawiera dane średniej produkcji energii w danej godzienie w jednostakch megawat (MW).

Format danych w ramce `df` możemy sprawdzić wpisując nazwę, czyli `df` z rozszerzeniem `.dtypes`, czyli `df.dtypes`

In [4]:
df.dtypes

Widzimy, że `AEP_MW` jest rozumiana jak liczba zmiennoprzecinkowa, natomiast `Datetime` jest traktowana jako obiekt, z którym nie zrobimy analizy danych. Trzeba zamienić na format daty i czasu, czyli `datetime`.

Możemy to zrobić komendą `pd.to_datetime()`, gdzie w nawias wpiszemy co chcemy zamienić na format daty, czyli kolumnę `Datetime` w ramce `df`, czyli możemy zapisać `df.Datatime`. Cała komenda to `pd.to_datetime(df.Datetime)`

In [5]:
pd.to_datetime(df.Datetime)

Zmiana w `df` nie zaszła, można to sprawdzić `df.dtypes`

In [6]:
df.dtypes

Aby zapisać zmiany należy wskazać, gdzie sformatowana data komendą `pd.to_datetime(df.Datetime)` ma być zapisana, czyli w kolumnie `Datetime` ramki danych `df`. Piszemy df.Datetime = pd.to_datetime(df.Datetime) i sprawdzamy `df.dtypes`

In [7]:
df.Datetime = pd.to_datetime(df.Datetime)

In [8]:
df.dtypes

# Wizualizacja wstępna

Zróbmy wykres naszych danych. Posłużymy się pakietem `matplotlib.plt`.

Wykres generuje się szeregiem komend. W tym przypadku zdefiniowaliśmy rozmiar rysunku (w calach) na 15x6.

Komenda `plt.plot` generuje wykres danych `x` i `y`, które w naszym przypadku są odwołaniem do kolumny `Datatime` jako `x` i `AEP_MW` jako `y`. Marker `'o'` oznacza wykres punktowy (liniowy to `'-'`), z wielkością markera `1`.

`plt.savefig` służy to zapisywania wykresu. Obsługiwanych rozszrzeń jest bardzo dużo. Plik do pobrania z panelu `Pliki`.

In [9]:
plt.figure(figsize=(15,6))
plt.plot(df.Datetime, df.AEP_MW, 'o', markersize=1)
plt.title('Zużycie energii w latach 2004-2018')
plt.xlabel('Rok')
plt.ylabel('Energia [MW]')
plt.savefig('A.png')
plt.show()

Dane możemy również zawęźić aby zoabczyć jaka jest zmienność np. w roku 2010. W tym celu filtrujemy dane z roku 2010 (od 01-01-2010 do 31-12-2010) poleceniem `.loc` i operacjami logicznymi `>` i `<=`.

In [10]:
df_2010=df.loc[(df.Datetime > '01-01-2010') & (df.Datetime <= '31-12-2010')]

W ramce `df_2010` mamy zapisane tylko wyniki z roku 2010. Zauważ, że index (pierwsza kolumna) nie zeruje się, ale przyjmuje wartości z ramki źródłowej.

In [11]:
df_2010

Resetowanie indeksu można zrobić komendą `.reset_index`, `drop=True` wyrzuca stare indeksy, `inplace=True` zamienia indeksy w ramce wywoływanej, czyli `df_2010` od razu będzie miała zapisane zmiany.

In [12]:
df_2010.reset_index(drop=True, inplace=True)

In [13]:
df_2010

Wykonanie wykresu z danych `df_2010` jest analogiczne jak wyżej, zmienimy tytuł i orientację etykiet na osi `x` dla większej czytelności.

In [14]:
plt.figure(figsize=(15,6))
plt.plot(df_2010.Datetime, df_2010.AEP_MW, 'o', markersize=1)
plt.title('Zużycie energii w 2010 roku')
plt.xlabel('Dzień')
plt.ylabel('Energia [MW]')
plt.xticks(rotation=45)
plt.show()

# Przygotowanie danych do uczenia maszynowego, podział na dane treningowe i testowe

Dane zawarte w df mają mało atrybutów do uczenia maszynowego. Intuicyjnie wiemy, że zużycie energii może zależeć od następujących parametrów, takich jak godzina, dzień tygodnia, kwartał roku, miesiąc, rok, dzień roku czy dzień miesiąca. Do naszych danych w `df` dołożymy kolumny z poszczególnymi parametrami. Python umożliwia kilka możliwości ekstrakcji parametrów z dat. Tworzenie nowej kolumny w DataFrame jest bardzo proste, wystraczy podać nazwę ramki w której chcemy dołożyć kolumne oraz nazwę kolumny, np. do ramki `df` wstawiamy kolumnę o nazwie `hour` komendą `df['hour']`. Do jej zawartości przekierowujemy godzinę wyciągnięta z daty za pomocą komendy `.dt.hour`, czyli piszemy `df['Datetime'].dt.hour`, co wyciągnie nam z pełnej daty, tylko wartość godziny, czyli np. z daty `2004-12-31 01:00:00` otrzymamy `1`.

In [15]:
df['hour'] = df['Datetime'].dt.hour

Kolejne paramtery wyciągamy odpowiednimy komendami jak poniżej:

In [16]:
df['dayofweek'] = df['Datetime'].dt.dayofweek
df['quarter'] = df['Datetime'].dt.quarter
df['month'] = df['Datetime'].dt.month
df['year'] = df['Datetime'].dt.year
df['dayofyear'] = df['Datetime'].dt.dayofyear
df['dayofmonth'] = df['Datetime'].dt.day

Na koniec dostajemy rozszerzoną ramkę danych z odpowiednimi kolumnami.

In [17]:
df

Teraz możemy zrobić wykres jak kształtowało się zużycie energii w ciągu całego okresu pomiarowego w poszczególnych godzinach. W tym celu użyjemy pakietu `seaborn`. Wykres możemy robić wg różnych parametrów, jak `month`, `year`, itp.

In [18]:
sns.boxplot(x=df['hour'], y=df['AEP_MW'], palette='magma')
plt.title('Zużycie energii w ciągu dnia')
plt.xlabel('Godzina')
plt.ylabel('Energia [MW]')
plt.show()

Przygotowanie danych do modelu rozpoczniemy od przygotowania danych zależnych (energia) i niezależnych (wszystko inne, czyli parametry czasowe. Nazwiemy jest odpowiednio `y` i `X`. Kolumny odrzucamy komendą `.drop`.

Dane treningowe i testowe dzielimy do/od dnia 01-01-2016, czyli to co przed rokiem 2016 jest w danych treiningowych i będzie używane do trenowania modelu uczenia maszynowego. To co powyżej tej daty będzie użyte do walidacji modelu.

In [19]:
df_train=df.loc[df['Datetime']< '01-01-2016']
df_test=df.loc[df['Datetime']>= '01-01-2016']

Następnie trzeba oddzielić zmienne niezależne (data, godzina, itp.) od zmiennych zależnych (energia). Odrzucamy też kolumne `'Datetime'`, która nie jest na już potrzebna.

In [20]:
X_train = df_train.drop(columns=['AEP_MW', 'Datetime'])
y_train = df_train['AEP_MW']

To samo trzeba zrobić dla danych testowych.

In [21]:
X_test = df_test.drop(columns=['AEP_MW', 'Datetime'])
y_test = df_test['AEP_MW']

Dane testowe `X_test`:

In [22]:
X_test

Dane testowe `y_test`:

In [23]:
y_test

# Uczenie maszynowe - model XGBoost

Model uczenia maszynowego budujemy w oparciu o `xgb`, koszystamy z modelu regresji `XGBRegresor` podając ile kroków uczenia maszynowego ma wykonać. Zwiększając ilość kroków zwiększamy dokładność modelu, ale wydłużamy czas obliczeń. Można przetestować dla różnych wartości `n`. Nie zawsze więcej znaczy lepiej, ponieważ model może być zbyt mocno dopasowany do danych treningowych i będzie źle przewidywał w oparciu o dane testowe, zwiększając błąd.

In [63]:
reg = xgb.XGBRegressor(n_estimators=200)

Uruchamiamy uczenie modelu komendą fit

In [64]:
reg.fit(X_train, y_train, eval_set=[(X_train, y_train), (X_test, y_test)], verbose=100)

Wartości z predykcji uzyskane komendą `reg.predict` z danych testowych `X_test` zostaną zapisane w kolumnie o nazwie `prediction` w ramce danych `df_test`.

In [65]:
df_test['prediction'] = reg.predict(X_test)

In [66]:
df_test

# Ocena modelu

Wykres predykcji na tle wszystkich danych jest zrobiony poniżej. Druga i trzecia linijka kodu to generowanie wykresu.

In [67]:
plt.figure(figsize=(15,6))

plt.plot(df['Datetime'], df['AEP_MW'], 'o', label='Dane z pomiaru')
plt.plot(df_test['Datetime'], df_test['prediction'], 'o', label='Predykcja')

plt.title('Predykcja energii elektrycznej')
plt.xlabel('Data')
plt.ylabel('Energia [MW]')
plt.legend()
plt.show()

Z modelu `reg` możemy również wyciągnąć istotność parametrów użytych do przewidywania produkcji/zużycia energii elektrycznej. Używamy komendy `feature_importances_` oraz `reg.feature_names_in_`. Utworzymy nową ramkę danych o nazwie `fi`.

In [68]:
reg.feature_importances_

In [69]:
reg.feature_names_in_

In [70]:
fi = pd.DataFrame()

In [71]:
fi['Składnik'] = reg.feature_names_in_
fi['Ważność'] = reg.feature_importances_

In [72]:
fi.sort_values('Ważność', inplace=True)

In [73]:
fi

Z podanych danych można zrobić wykres słupkowy.

In [74]:
plt.bar(fi['Składnik'], height=fi['Ważność'])
plt.title('Ważność składników modelu')
plt.xticks(rotation=90)
plt.show()

Metrykę błędu progonozy można zrobić w oparciu o MSE, o czym było na początku tego pliku. Składnia jest prosta, `mean_squared_error(df_test['AEP_MW'], df_test['prediction'])`

In [75]:
score = mean_squared_error(df_test['AEP_MW'], df_test['prediction'])
print(f'MSE Score on Test set: {score:0.2f}')

Wartość może wydawać się duża, ale jak odniesiemy ją na godzinę pomiaru to będzie bardziej mariodajne.

In [76]:
print(f'MSE per hour: %.3f MW' % (score/df_test.size))